.runtime_resume_conainer {
  background-color: white;
  width: 100%;
  height: 1080px;
  position: relative;
  .runtime_resume {
    position: absolute;
    width: 662px;

    top: 68px;
    left: 80px;
    .section1 {
      display: flex;
      .section1_left_container {
        width: 432px;
        .name_surname {
          font-family: myfont;
          font-size: 34px;
          color: #f93b1d;
          font-weight: 700;
        }
        .gmail_phone {
          margin-top: 17px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .each_cont {
            display: flex;
            align-items: center;
            gap: 11.7px;
            p {
              font-size: 18px;
              font-family: myfont;
            }
          }
        }
        .about_me {
          margin-top: 34px;
          color: #f93b1d;
          font-weight: 700;
          font-size: 18px;
          font-family: myfont;
        }
        .about_me_text {
          margin-top: 15px;
          font-family: myfont;
        }
      }
      .section1_right_container {
        width: 246px;
        .image_container {
          width: 246px;
          height: 246px;
          border-radius: 133px;
          border: 1px solid red;
        }
      }
    }
    .line{
        margin-top: 19px;
        height: 1px;
        width: 100%;
        background-color: #C8C8C8;
    }
  }
}
